#headerId{
    padding-top:0%;
    margin-top: 0%;

}

.mainListedItem{
    float: left;
    font-size:20px;
    color: white;
    padding: 1% 2% 1% 2%;
    font-weight: bold;

}

.mainListedItem:hover{
    color: gold;
}

.secondaryListedItem{
    display: block;
    font-size:20px;
    color: teal;
    padding: 5% 2% 5% 2%;
    font-weight: bold;
    width: 100%;
    height:100%;
    box-sizing: border-box;
}

.secondaryListedItem:hover{
    color: black;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    background-color: lightgray;
}

.dropdownSummary{
    font-size:25px;
    color: teal;
    padding: 1% 2% 1% 2%;
    font-weight: bold;

}

.dropdownSummary:hover{
    color: black;
}


.horizontalList {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    background-color: teal;
}

.verticalList {
    list-style-type: none;
    margin-left: 0%;
    padding: 0;
    overflow: hidden;
    float: left;
    display: block;
    
}

#dashboard{
    margin-top: 0%;
    padding-top: 0%;
    background-color: white;
    height: 20%;
    width: 100%;
}

#titleId{
    font-size: 30px;
    font-weight: bold;
    color: teal;
}


#logoId{
    display: flex; 
    align-items: center; 
    gap: 1%; 
    padding: 1%; 
}

#textId{
    text-align: center;
    
}

.dropdown{
    display:block;
    margin-top:0%;
    padding-left:2%;
    color: teal;
    font-weight: bold;
    width: auto;
}

.dropdown:hover{
    color: black;
}